@{
    var currentController = this.ViewContext.RouteData.Values["Controller"].ToString();
    var currentAction = this.ViewContext.RouteData.Values["Action"].ToString();

    Func<string, string, string> isActive = (action, controller) => ((string.IsNullOrEmpty(action) || action == currentAction) && controller == currentController) ? "active" : string.Empty;
}

<div id="sidebar" class="sidebar">
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar user -->
        <ul class="nav">
            <li class="nav-profile">
                <a href="javascript:;" data-toggle="nav-profile">
                    @*<div class="cover with-shadow"></div>*@
                    <div class="image">
                        <img src="../content/Profilovka.PNG" alt="" />
                    </div>
                    <div class="info">
                        <b class="caret pull-right"></b>
                        Lukáš Kmoch
                        <small>ASP.NET MVC Developer</small>
                    </div>
                </a>
            </li>
            <li>
                <ul class="nav nav-profile">
                    <li><a href="javascript:;"><i class="fa fa-cog"></i> Settings</a></li>
                    <li><a href="javascript:;"><i class="fa fa-pencil-alt"></i> Send Feedback</a></li>
                    <li><a href="javascript:;"><i class="fa fa-question-circle"></i> Helps</a></li>
                </ul>
            </li>
        </ul>
        <!-- end sidebar user -->
        <!-- begin sidebar nav -->
        <ul class="nav">
            <li class="nav-header">Navigation</li>
            <li class="@isActive("Index", "Home")">
                <a href="@Url.Action("Index", "Home")">
                    <i class="fa fa-home"></i>
                    <span>Home</span>
                </a>
            </li>

            <li class="@isActive("Dashboard", "Home")">
                <a href="@Url.Action("Dashboard", "Home")">
                    <i class="fa fa-th-large"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li class="@isActive(null, "Movies")">
                <a href="@Url.Action("Index", "Movies")">
                    <i class="fa fa-film"></i>
                    <span>Movies</span>
                </a>
            </li>

            <li class="nav-header">1. Day</li>

            @* Action Results *@
            <li class="has-sub @isActive(null, "ActionResult")">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fa fa-table"></i>
                    <span>Action Results</span>
                </a>
                <ul class="sub-menu">
                    <li>@Html.ActionLink("Empty", "EmptyAction", "ActionResult")</li>
                    <li>@Html.ActionLink("Content", "ContentAction", "ActionResult")</li>
                    <li>@Html.ActionLink("Http Not Found", "HttpNotFoundAction", "ActionResult")</li>
                    <li>@Html.ActionLink("Json", "JsonAction", "ActionResult")</li>
                    <li>@Html.ActionLink("Add Line Breaks", "LineBreaksContentAction", "ActionResult")</li>
                    <li>@Html.ActionLink("Xml Action", "XmlAction", "ActionResult")</li>
                    <li>@Html.ActionLink("View Engine Action", "ViewEngineAction", "ActionResult")</li>
                    <li>@Html.ActionLink("Custom View Engine", "CustomViewEngine", "ActionResult")</li>
                    <li>@Html.ActionLink("File", "FileAction", "ActionResult")</li>
                    <li>@Html.ActionLink("Released movies in 2017/01", "Released", "Movies", new { year = 2017, month = 12 }, null)</li>
                </ul>
            </li>

            @* Razor Syntax *@
            <li class="has-sub @isActive(null, "RazorSyntax")">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fa fa-eye"></i>
                    <span>Razor View Syntax</span>
                </a>
                <ul class="sub-menu">
                    <li class="@isActive("Examples", "RazorSyntax")">@Html.ActionLink("Examples", "Examples", "RazorSyntax")</li>
                    <li class="@isActive("Lab", "RazorSyntax")">@Html.ActionLink("Lab", "Lab", "RazorSyntax")</li>
                </ul>
            </li>

            @* JavaScript section *@
            <li class="@isActive("Index", "JavaScriptSection")">
                <a href="@Url.Action("Index", "JavaScriptSection")">
                    <i class="fa fa-sign-in-alt"></i>
                    <span>Razor View Sections</span>
                </a>
            </li>

            @* jQuery *@
            <li class="has-sub @isActive(null, "jQuery")">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fa fa-eye"></i>
                    <span>jQuery</span>
                </a>
                <ul class="sub-menu">
                    <li class="@isActive("Index", "jQuery")">@Html.ActionLink("jQuery", "Index", "jQuery")</li>
                    <li class="@isActive("Get", "jQuery")">@Html.ActionLink("Get JSON", "Get", "jQuery")</li>
                </ul>
            </li>


            @* Partial Views And Actions*@
            <li class="@isActive("Index", "PartialViewAndAction")">
                <a href="@Url.Action("Index", "PartialViewAndAction")">
                    <i class="fa fa-cubes"></i>
                    <span>Partial Views And Actions</span>
                </a>
            </li>

            @* ViewBag ViewData *@
            <li class="has-sub @isActive(null, "ViewBagViewDataAndTempData")">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fa fa-suitcase"></i>
                    <span>ViewBag ViewData</span>
                </a>
                <ul class="sub-menu">
                    <li class="@isActive("ViewBagAction", "ViewBagViewDataAndTempData")">@Html.ActionLink("ViewBag", "ViewBagAction", "ViewBagViewDataAndTempData")</li>
                    <li class="@isActive("ViewDataAction", "ViewBagViewDataAndTempData")">@Html.ActionLink("ViewData", "ViewDataAction", "ViewBagViewDataAndTempData")</li>
                    <li class="@isActive("TempDataAction", "ViewBagViewDataAndTempData")">@Html.ActionLink("TempData", "TempDataAction", "ViewBagViewDataAndTempData")</li>
                </ul>
            </li>

            @* HTML Helpers *@
            <li class="has-sub @isActive(null, "HtmlHelpers")">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fa fa-list-ol"></i>
                    <span>HTML Helpers</span>
                </a>
                <ul class="sub-menu">
                    <li class="@isActive("EditorAndDisplayTemplates", "HtmlHelpers")">@Html.ActionLink("Templates", "EditorAndDisplayTemplates", "HtmlHelpers")</li>
                    <li class="@isActive("Modal", "HtmlHelpers")">@Html.ActionLink("Modal", "Modal", "HtmlHelpers")</li>
                    <li class="@isActive("FlashMessages", "HtmlHelpers")">@Html.ActionLink("Flash Messages", "FlashMessages", "HtmlHelpers")</li>
                    <li class="@isActive("InlineHelper", "HtmlHelpers")">@Html.ActionLink("Inline Helper", "InlineHelper", "HtmlHelpers")</li>
                    <li class="@isActive("Index", "Ajax")">@Html.ActionLink("AJAX Helper", "Index", "Ajax")</li>

                </ul>
            </li>

            <li class="nav-header">2. Day</li>

            @* Validation *@
            <li class="has-sub @isActive(null, "Validation")">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fa fa-check-circle"></i>
                    <span>Validation</span>
                </a>
                <ul class="sub-menu">
                    <li>

                        @Html.ActionLink("Users", "Index", "User", new { area = "administration" }, null)

                    </li>

                    <li class="@isActive("DataAnnotations", "Validation")">@Html.ActionLink("Data Annotations", "DataAnnotations", "Validation")</li>
                    <li class="@isActive("CodeValidation", "Validation")">@Html.ActionLink("Code Validation", "CodeValidation", "Validation")</li>
                    <li class="@isActive("RemoteValidation", "Validation")">@Html.ActionLink("Remote Validation", "RemoteValidation", "Validation")</li>
                    <li class="@isActive("CustomValidationAttribute", "Validation")">@Html.ActionLink("Validation Attribute", "CustomValidationAttribute", "Validation")</li>
                </ul>
            </li>

            @* Model Binding *@
            <li class="has-sub @isActive(null, "ModelBinding")">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fa fa-map"></i>
                    <span>Model Binding</span>
                </a>
                <ul class="sub-menu">
                    <li class="@isActive("BasicMappingAnchor", "ModelBinding")">@Html.ActionLink("Basic Mapping Anchor", "BasicMappingAnchor", "ModelBinding")</li>
                    <li class="@isActive("BasicMappingForm", "ModelBinding")">@Html.ActionLink("Basic Mapping Form", "BasicMappingForm", "ModelBinding")</li>
                    <li class="@isActive("BindToValueTypeListInput", "ModelBinding")">@Html.ActionLink("To Int Array Input", "BindToValueTypeListInput", "ModelBinding")</li>
                    <li class="@isActive("BindToValueTypeListHtmlHelper", "ModelBinding")">@Html.ActionLink("To Int Array Html Helper", "BindToValueTypeListHtmlHelper", "ModelBinding")</li>
                    <li class="@isActive("BindToReferenceTypeList", "ModelBinding")">@Html.ActionLink("To View Model Array", "BindToReferenceTypeList", "ModelBinding")</li>
                    <li class="@isActive("BindToReferenceTypeNonSequentialList", "ModelBinding")">@Html.ActionLink("To Non Sequential Array", "BindToReferenceTypeNonSequentialList", "ModelBinding")</li>
                    <li class="@isActive("BindToChild", "ModelBinding")">@Html.ActionLink("Bind To Child", "BindToChild", "ModelBinding")</li>
                    <li class="@isActive("JsonModelBinder", "ModelBinding")">@Html.ActionLink("Json Model Binder", "JsonModelBinder", "ModelBinding")</li>
                    <li class="@isActive("CreateDayMonthYear", "ModelBinding")">@Html.ActionLink("Create Day Month Year", "CreateDayMonthYear", "ModelBinding")</li>
                    <li class="@isActive("SessionValueProvider", "ModelBinding")">@Html.ActionLink("Session Value Provider", "SessionValueProvider", "ModelBinding")</li>
                </ul>
            </li>

            <li class="nav-header">3. Day</li>

            @* Ninject *@
            <li class="has-sub @isActive("Index", "Ninject")">
                <a href="@Url.Action("Index", "Ninject")">
                    <i class="fa fa-puzzle-piece"></i>
                    <span>Ninject</span>
                </a>
            </li>

            @* Authorization Attribute  *@
            <li class="has-sub @isActive(null, "AuthorizationAttribute")">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fa fa-key"></i>
                    <span>Authorization</span>
                </a>
                <ul class="sub-menu">
                    <li class="@isActive("Public", "AuthorizationAttribute")">@Html.ActionLink("Public", "Public", "AuthorizationAttribute")</li>
                    <li class="@isActive("Secret", "AuthorizationAttribute")">@Html.ActionLink("Secret", "Secret", "AuthorizationAttribute")</li>
                    <li class="@isActive("AllowAnonymous", "AuthorizationAttribute")">@Html.ActionLink("Allow Anonymous", "AllowAnonymous", "AuthorizationAttribute")</li>
                </ul>
            </li>

            @* Filters *@
            <li class="has-sub @isActive(null, "Filter")">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fa fa-filter"></i>
                    <span>Filters</span>
                </a>
                <ul class="sub-menu">
                    <li class="@isActive("Index", "Filter")">@Html.ActionLink("All Filters", "Index", "Filter")</li>
                    <li class="@isActive("OutputCache", "Filter")">@Html.ActionLink("Output Cache", "OutputCache", "Filter")</li>
                </ul>
            </li>

            @* Exceptions *@
            <li class="has-sub @isActive(null, "HandleErrors")">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fa fa-bug"></i>
                    <span>Exceptions</span>
                </a>
                <ul class="sub-menu">
                    <li class="@isActive("ExceptionAction", "HandleErrors")">@Html.ActionLink("ExceptionAction", "ExceptionAction", "HandleErrors")</li>
                    <li class="@isActive("BadRequestAction", "HandleErrors")">@Html.ActionLink("BadRequestAction", "BadRequestAction", "HandleErrors")</li>
                    <li class="@isActive("UnauthorizedAction", "HandleErrors")">@Html.ActionLink("UnauthorizedAction", "UnauthorizedAction", "HandleErrors")</li>
                    <li class="@isActive("InternalServerErrorAction", "HandleErrors")">@Html.ActionLink("InternalServerErrorAction", "InternalServerErrorAction", "HandleErrors")</li>
                </ul>
            </li>

            <li class="nav-header">Bonus</li>

            @* Bonus *@
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fa fa-smile"></i>
                    <span>AutoMapper</span>
                </a>
                <ul class="sub-menu">
                    <li class="@isActive("AutoMapperTest", "Movies")">@Html.ActionLink("AutoMapper", "AutoMapperTest", "Movies")</li>
                </ul>
            </li>

            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fa fa-globe"></i>
                    <span>Localization</span>
                </a>
                <ul class="sub-menu">
                    <li class="@isActive("Index", "Localization")">@Html.ActionLink("Localization", "Index", "Localization")</li>
                </ul>
            </li>

            @* Exceptions *@
            <li class="has-sub @isActive(null, "CookieAndSession")">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fa fa-archive"></i>
                    <span>Cookie and Session</span>
                </a>
                <ul class="sub-menu">
                    <li class="@isActive("SaveCookie", "CookieAndSession")">@Html.ActionLink("Save Cookie", "SaveCookie", "CookieAndSession")</li>
                    <li class="@isActive("GetCookie", "CookieAndSession")">@Html.ActionLink("Get Cookie", "GetCookie", "CookieAndSession")</li>
                    <li class="@isActive("SaveSession", "CookieAndSession")">@Html.ActionLink("Save Session", "SaveSession", "CookieAndSession")</li>
                    <li class="@isActive("GetSession", "CookieAndSession")">@Html.ActionLink("Get Session", "GetSession", "CookieAndSession")</li>
                    <li class="@isActive("SaveCache", "CookieAndSession")">@Html.ActionLink("Save Cache", "SaveCache", "CookieAndSession")</li>
                    <li class="@isActive("GetCache", "CookieAndSession")">@Html.ActionLink("Get Cache", "GetCache", "CookieAndSession")</li>
                    <li class="@isActive("SaveApplication", "CookieAndSession")">@Html.ActionLink("Save Application", "SaveApplication", "CookieAndSession")</li>
                    <li class="@isActive("GetApplication", "CookieAndSession")">@Html.ActionLink("Get Application", "GetApplication", "CookieAndSession")</li>
                </ul>
            </li>

            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fa fa-globe"></i>
                    <span>Async / Task</span>
                </a>
                <ul class="sub-menu">
                    <li class="@isActive("WrongAsync", "Async")">@Html.ActionLink("WrongAsync", "WrongAsync", "Async")</li>
                    <li class="@isActive("Async", "Async")">@Html.ActionLink("Async", "Async", "Async")</li>
                </ul>
            </li>

            <!-- begin sidebar minify button -->
            <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
            <!-- end sidebar minify button -->
        </ul>
        <!-- end sidebar nav -->
    </div>
    <!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>