@using AspNetMvc5Examples.Web.Models
@using Microsoft.Ajax.Utilities
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Action Result<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Empty", "EmptyAction", "ActionResult")</li>
                            <li>@Html.ActionLink("Content", "ContentAction", "ActionResult")</li>
                            <li>@Html.ActionLink("Http Not Found", "HttpNotFoundAction", "ActionResult")</li>
                            <li>@Html.ActionLink("Add line breaks", "LineBreaksContentAction", "ActionResult")</li>
                            <li>@Html.ActionLink("View Engine Action", "ViewEngineAction", "ActionResult")</li>
                            <li>@Html.ActionLink("Custom View Engine", "CustomViewEngine", "ActionResult")</li>
                        </ul>
                    </li>
                    
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">ViewBag ViewData And TempData<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("ViewBagAction", "ViewBagAction", "ViewBagViewDataAndTempData")</li>
                            <li>@Html.ActionLink("ViewDataAction", "ViewDataAction", "ViewBagViewDataAndTempData")</li>
                            <li>@Html.ActionLink("TempDataAction", "TempDataAction", "ViewBagViewDataAndTempData")</li>
                        </ul>
                    </li>
                    

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Editor Templates<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Create", "Create", "EditorAndDisplayTemplates")</li>
                        </ul>
                    </li>
                    

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Authorization Attribute<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Public", "Public", "AuthorizationAttribute")</li>
                            <li>@Html.ActionLink("Secret", "Secret", "AuthorizationAttribute")</li>
                            <li>@Html.ActionLink("Allow Anonymous", "AllowAnonymous", "AuthorizationAttribute")</li>
                        </ul>
                    </li>
                    
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Model Binding<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("To String", "BindToString", "ModelBinding", new { Value = "Hello" }, null)</li>
                            <li>@Html.ActionLink("To Int", "BindToInt", "ModelBinding", new { Value = int.MaxValue }, null)</li>
                            <li>@Html.ActionLink("To DateTime", "BindToDateTime", "ModelBinding", new { Value = DateTime.Now }, null)</li>
                            <li>@Html.ActionLink("To ViewModel", "BindToViewModel", "ModelBinding", new { Name = "My Name", }, null)</li>
                            <li>@Html.ActionLink("To Int Array", "BindToValueTypeList", "ModelBinding")</li>
                            <li>@Html.ActionLink("To View Model Array", "BindToReferenceTypeList", "ModelBinding")</li>
                            <li>@Html.ActionLink("To Non Sequential Array", "BindToReferenceTypeNonSequentialList", "ModelBinding")</li>
                            
                            
                            <li>@Html.ActionLink("To Child ViewModel ComplexType", "BindToChildViewModel", "ModelBinding", new { Name = "My Name", Child = new ModelBinderChildViewModel { ChildName = "My Child Name" } }, null)</li>
                            <li>@Html.ActionLink("To Child ViewModel ChildName", "BindToChildViewModel", "ModelBinding", new { Name = "My Name", ChildName = "My Child Name" }, null)</li>
                            <li>@Html.ActionLink("To Child ViewModel RouteValueDictionary", "BindToChildViewModel", "ModelBinding", new RouteValueDictionary { { "Name", "My Name" }, { "Child.ChildName", "My Child Name" } }, null)</li>
                            <li>@Html.ActionLink("To ViewModel Exclude", "BindToViewModelExclude", "ModelBinding", new { Name = "My Name", }, null)</li>
                            <li>@Html.ActionLink("To ViewModel Include", "BindToViewModelInclude", "ModelBinding", new RouteValueDictionary { { "Name", "My Name" }, { "Child.ChildName", "My Child Name" } }, null)</li>
                            <li>@Html.ActionLink("Create", "Create", "ModelBinding")</li>
                            <li>@Html.ActionLink("String to Json", "CreateJson", "ModelBinding")</li>
                            <li>@Html.ActionLink("Day, month and year to DateTime", "CreateDayMonthYear", "ModelBinding")</li>
                        </ul>
                    </li>
                    
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Exceptions<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("ExceptionAction", "ExceptionAction", "HandleErrors")</li>
                            <li>@Html.ActionLink("BadRequestAction", "BadRequestAction", "HandleErrors")</li>
                            <li>@Html.ActionLink("UnauthorizedAction", "UnauthorizedAction", "HandleErrors")</li>
                            <li>@Html.ActionLink("InternalServerErrorAction", "InternalServerErrorAction", "HandleErrors")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    @* @RenderBody() The "RenderBody" method has already been called *@   

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
